.navbar-default .navbar-collapse, .navbar-default{
    background-color: #ffffff;
    border:none;
}

.navbar>.container-fluid .navbar-brand{
    color: #337ab7;
}

.navbar-default .navbar-nav>li>a{
    color: #337ab7;
}